In [10]:
# Dependency needed to install file 

# If running the notebook on your machine, else leave it commented
# !pip install xlrd

# !pip install openpyxl 
# import piplite
# await piplite.install(['xlrd','openpyxl'])

In [11]:
import pandas as pd

In [12]:


 csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
 df = pd.read_csv(csv_path)

In [13]:
!pip install xlrd openpyxl

Requirement already satisfied: xlrd in c:\users\deii\anaconda3\lib\site-packages (2.0.1)
Requirement already satisfied: openpyxl in c:\users\deii\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\deii\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [14]:
import requests
import pandas as pd

# URL of the CSV file
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%"

In [15]:
# import requests
# import pandas as pd

# # URL of the CSV file
# url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"

# # Fetch the data from the URL
# response = requests.get(url)
# response.raise_for_status()  # Check that the request was successful

# # Save the content to a file
# with open("/mnt/data/TopSellingAlbums.csv", "wb") as f:
#     f.write(response.content)

In [16]:
filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"

df.to_csv('first_data.csv', index=False)

In [23]:
import pandas as pd
a = pd.DataFrame(df)

In [24]:
print(a)

            Artist                            Album  Released   Length  \
0  Michael Jackson                         Thriller      1982  0:42:19
1            AC/DC                    Back in Black      1980  0:42:11
2       Pink Floyd        The Dark Side of the Moon      1973  0:42:49
3  Whitney Houston                    The Bodyguard      1992  0:57:44
4        Meat Loaf                  Bat Out of Hell      1977  0:46:33
5           Eagles  Their Greatest Hits (1971-1975)      1976  0:43:08
6         Bee Gees             Saturday Night Fever      1977  1:15:54
7    Fleetwood Mac                          Rumours      1977  0:40:01

                         Genre  Music Recording Sales (millions)  \
0               pop, rock, R&B                              46.0
1                    hard rock                              26.1
2             progressive rock                              24.2
3               R&B, soul, pop                              27.4
4  hard rock, progressive rock                              20.6
5   rock, soft rock, folk rock                              32.2
6                        disco                              20.6
7                    soft rock                              27.9

   Claimed Sales (millions) Released.1 Soundtrack  Rating
0                        65  30-Nov-82        NaN    10.0
1                        50  25-Jul-80        NaN     9.5
2                        45  01-Mar-73        NaN     9.0
3                        44  17-Nov-92          Y     8.5
4                        43  21-Oct-77        NaN     8.0
5                        42  17-Feb-76        NaN     7.5
6                        40  15-Nov-77          Y     7.0
7                        40  04-Feb-77        NaN     6.5

In [25]:
print(df[['Artist', 'Album']])

            Artist                            Album
0  Michael Jackson                         Thriller
1            AC/DC                    Back in Black
2       Pink Floyd        The Dark Side of the Moon
3  Whitney Houston                    The Bodyguard
4        Meat Loaf                  Bat Out of Hell
5           Eagles  Their Greatest Hits (1971-1975)
6         Bee Gees             Saturday Night Fever
7    Fleetwood Mac                          Rumours

In [26]:
df.iloc[0,0]

'Michael Jackson'

In [27]:
df.loc[0, "Album"]

'Thriller'

## Quiz on DataFrame

Use a variable <code>q</code> to store the column <b>Rating</b> as a dataframe

In [28]:
q = df[['Rating']]

In [29]:
print(q)

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

In [30]:
df.iloc[1, 2]

1980

Use the following list to convert the dataframe index <code>df</code> to characters and assign it to <code>df_new</code>; find the element corresponding to the row index <code>a</code> and column  <code>'Artist'</code>. Then select the rows <code>a</code> through <code>d</code> for the column  <code>'Artist'</code>

In [31]:
new_index=['a','b','c','d','e','f','g','h']
df_new = df
df_new.index = new_index
df_new.loc["a", "Artist"]

'Michael Jackson'

In [32]:
print(df_new)

            Artist                            Album  Released   Length  \
a  Michael Jackson                         Thriller      1982  0:42:19
b            AC/DC                    Back in Black      1980  0:42:11
c       Pink Floyd        The Dark Side of the Moon      1973  0:42:49
d  Whitney Houston                    The Bodyguard      1992  0:57:44
e        Meat Loaf                  Bat Out of Hell      1977  0:46:33
f           Eagles  Their Greatest Hits (1971-1975)      1976  0:43:08
g         Bee Gees             Saturday Night Fever      1977  1:15:54
h    Fleetwood Mac                          Rumours      1977  0:40:01

                         Genre  Music Recording Sales (millions)  \
a               pop, rock, R&B                              46.0
b                    hard rock                              26.1
c             progressive rock                              24.2
d               R&B, soul, pop                              27.4
e  hard rock, progressive rock                              20.6
f   rock, soft rock, folk rock                              32.2
g                        disco                              20.6
h                    soft rock                              27.9

   Claimed Sales (millions) Released.1 Soundtrack  Rating
a                        65  30-Nov-82        NaN    10.0
b                        50  25-Jul-80        NaN     9.5
c                        45  01-Mar-73        NaN     9.0
d                        44  17-Nov-92          Y     8.5
e                        43  21-Oct-77        NaN     8.0
f                        42  17-Feb-76        NaN     7.5
g                        40  15-Nov-77          Y     7.0
h                        40  04-Feb-77        NaN     6.5

In [34]:
import pandas as pd
j = pandas.read_csv("first_data.csv")

NameError: name 'pandas' is not defined